<div class="page-header">
    <h1>
        L'Embobineuse, le bateau cool
    </h1>
</div>
<article>
    <p>
        <strong>L'Embobineuse est un lieu d'où l'on fait sortir « l'Underground » du tunnel.</strong>
        Un lieu déviant, étrange, hors norme, singulier, où le réel se retourne comme quelqu'un qu'on interpelle et où les viscères de l'âme se retrouvent pendues par la nageoire.
    </p>
    <p>
        <strong>Un lieu de diffusion et de création</strong>
        s'inscrivant dans une démarche artistique audacieuse et exigeante qui défend une programmation indépendante et expérimentale, aux propositions têtues mais pas bornées. Promouvant des formes qui souvent ne portent pas un sens frontal, mais véhiculent le sens d'une pratique artistique radicale.
    </p>
    <p class="exergue text-right">
        Onde sonore et de choc ;<br/>
        Comme un appel sans verbe<br/>
        mais qui dit clairement ce que tout le monde pense à mi-mot :<br/>
        «  je crie, tu crées, il rit, elle raye, tu es rêve, nous résistons, vous soutenez, ils adhèrent ! »
    </p>
    <p>
        <strong>Un lieu où l'on crée du lien</strong>
        entre différentes démarches, esthétiques, alimentaires, économiques. Où « culture » est un mot qui ne ressemble pas que par hasard à « agriculture ». Où l'on ne goûte pas moins de la bouche que des oreilles, pas dupes de ce que l'on mâche et ce que l'on nous sert, sur ce que l'on s'élève, sur ce qui s'pousse, sur ce qui s'passe dans nos têtes comme nos assiettes...
    </p>
    <p>
        <strong>Nos fournisseurs sont locaux, nos produits sont frais, nos activités rayonnent sur la nation</strong>,
        nos œuvres voyagent en Europe, les artistes diffusés viennent du monde entier, le « Système D » étant la base et le liant des pratiques qui nous rassemblent.
    </p>
    <p>
        Et si tout ça tourne à tombeau-ouvert et roule tambour-battant,
        c’est parce qu’il y a <strong>une armada d'énergies vives qui donnent sans compter</strong>.
        Un collectif unique d'individus pluriels, en flux tendu et continu et qui n'a d'yeux que pour sa mascotte, animal totem et fétiche, cerbère de ces lieux et maître ès câlins, né le 6 mars 2006 du ventre regretté de feu sa mère Bobine, dans les couettes alors partagées par les fondateurs, le fieffé félin : « Vié »...
    </p>

    <p class="exergue text-center">
        L'endurance du sanglier,<br/>
        la mise en danger du kamikaze<br/>
        et l'instinct de survie du raton-laveur<br/>
        sont les trois teintes primaires<br/>
        qui définissent les membres actifs<br/>
        de notre hypo-secte hyper-prosélyte. 
    </p>

    <p>
        Alors bien sûr on n’est pas polis, ni lisses, mais polissons …
        Ca part dans tous les sens dans les délices de l’outrance,
        et dans notre cave se sont produits des spectacles dont on ne comprend déjà plus rien de la magie,
        de l’ineffable ivresse d’être libre.
        <strong>Nous ne sommes pas de ce monde : nous proposons le grand et l’ultime déballage.</strong>
    </p>
    <p>
        Nous ne faisons pas du « Contre » quelque chose, mais simplement du « Pour » quelque chose. On défend des singularités, une forme d’art de vivre et certaines de ses particularités.
    </p>
    <p>
        A l’Embobineuse c’est de la vie qu’on défend et c’est avec la vie qu’on attaque, qu’on soutient et qu’on laisse s’exprimer.
        <strong>Nous créons des instants de vie hors-normes, parce qu’ils sont des concentrés existentiels, des destinées qui parlent.</strong>
    </p>
    <p>
        Le spectacle vivant qu’on défend c’est ça : une sorte de trou noir et troublant, de densification ultime des émotions, des signes, du sens.
    </p>

    <p class="exergue text-right">
        Alors,<br/>
        dans une fissure du Grand Système,<br/>
        nous nous sommes fabriqués un refuge<br/>
        pour réussir notre folie<br/>
        et inviter nos visiteurs à réussir la leur.<br/>
    </p>
</article>

{% include 'pager.html.twig' with {
    'prev': {
        'url': page('donum-apello'),
        'title': "Dōnum Apello"
    },
    'next': {
        'url': page('historia/02-errorism'),
        'title': "II. Droit à l'erreur & remises en question"
    },
} %}
