<div class="page-header">
    <h1>
        Économie d'un naufrage<br>
        <small>Le Système D face aux normes</small>
    </h1>
</div>
<article>
	<p>
	    <strong>Dès l'été 2005</strong>
	    un premier dossier est déposé auprès des services de la mairie.
	    Il aboutira au glanage de quelques <strong>5 000 € de subventions fonctionnement</strong>,
	    et dans la foulée à la <strong>création de 2 emplois aidés à mi-temps</strong>
	    pour s'occuper du bébé en pleine croissance.
	</p>
	<p>
	    Ceci inaugure un fonctionnement sur un mode un tantinet « pis-aller ».
	    Deux ans sous contrat enchaînent sur deux ans de chômage et à nouveau deux ans de contrat,
	    la quantité de travail restant bien-sûr la même (de cinquante à quatre-vingt heures par semaine).
	    Au fil du temps le nombre de salariés augmente: 3, puis 4, et
	    <strong>aujourd'hui 3 emplois aidés et 2 CDIs</strong>.
	    Le nombre de bénévoles augmente aussi,
	    mais il y a toujours plus de corvées et la course au lapin blanc devient un sprint.
	</p>
	<p>
	    <strong>De nombreux projets s'amorcent</strong>
	    pour mettre en valeur nos productions :
	    création du <strong>label « Embob Prod »</strong>,
	    sortie de la <strong>compilation « Embobinoÿz – vol. 1 »</strong>,
	    structuration de réseaux locaux, nationaux et internationaux, vente de sport-spectacle auto-usinés, booking des groupes adorés, ateliers performance pour former…
	</p>
	<p>
	    Mais le flux tendu de la programmation, des résidences et des créations obnubile tant l'équipe que certains projets piétinent ou restent en suspens. On découvre ce que cela veut dire que d'être une salle de spectacle et d'avoir un poil de pignon sur rue !
	</p>
	<p>
	    <strong>Pourtant les soirées restent déficitaires</strong> :
	    quand le mois est bon on ne perd pas d'argent, quand le mois est mauvais on en perd. Et le plus souvent on en perd. Quand on fait ce pour quoi l'on est ouvert ... la salle est presque vide. Et puis, de rares fois - ça arrive, heureusement - les gens se battraient pour rentrer …
	</p>
	<p>
	    <strong>De 2009 à 2012</strong>,
	    des enveloppes conséquentes accordées au titre de l'Économie Sociale et Solidaire nous permettent d'amorcer
	    <strong>la rénovation, la mise aux normes et l'équipement de la salle de spectacle</strong>
	    (plus de 100 000 € seront investis malgré une main d'œuvre à 99% bénévole), de perdre un peu moins d'argent tout en cherchant à diversifier nos activités afin de trouver un modèle économique viable. Et finalement de rendre le lieu plus exploitable et plus confortable.
	</p>
	<p>
	    Mais, bien entendu, les subventions accordées ne remboursent pas la totalité des sommes investies.
	    En perpétuel besoin de trésorerie, <strong>nous empruntons de l'argent auprès de membres de l'association</strong>,
	    et quand il s'agit de le rendre, il n'a pas eu le temps de repousser.
	</p>
	<p>
	    <strong>En 2012</strong>,
	    sept membres actifs de l'association rassemblent leur maigres économies pour constituer un apport de 50 000€ et montent la « SCI 7 Boués » afin d'obtenir un prêt pour acheter le bâtiment « 3/11 bd Bouès – 71 rue Jean Cristofol ». En effet le bâtiment est à vendre depuis … 2006 ! Et en 2011, le propriétaire ne nous laisse plus le choix :
	    <strong>il nous faut soit acheter soit déguerpir. Et nous ne voulons pas partir.</strong>
	</p>
	<p>
	    Un dossier se monte alors pour emprunter de quoi acheter. Il sera défendu corps et âme pendant un an et demi (non sans avoir essuyé de refus), jusqu'à ce que
	    <strong>la Caisse d’Epargne accorde un prêt de 127 000 €</strong>. 
	</p>
	<p>
	    <strong>Décembre 2012</strong> : la convention de trois ans avec le secteur « Économie Sociale et Solidaire » de la région arrive à son terme. Le secteur culturel ne voulant pas prendre le relais, les caisses continuent de s'assécher,
	    <strong>et l'association de s'endetter auprès de ses fournisseurs, de ses membres actifs, de la banque, de ses salariés ...</strong> 
	</p>
	<p>
	    Alors que depuis <strong>septembre 2014</strong>
	    la conformité du lieu aux normes de sécurité ERP (établissement recevant du public) et incendie est validée, que celle concernant l'accueil des PMR (personnes à mobilité réduite) l'est quasiment, et que nous avons - enfin - le droit d'ouvrir notre établissement à la foule (officiellement oui c'est notre première saison !!!),
	    <strong>nous sommes à un doigt de mettre la clef sous la porte pour endettement</strong>.
	</p>
	<p>
	    Voilà le paysage... 
	</p>
</article>

{% include 'pager.html.twig' with {
    'prev': {
        'url': page('historia/02-errorism'),
        'title': "menu.historique.chap_2"
    },
    'next': {
        'url': page('historia/04-odyssey-continues'),
        'title': "menu.historique.chap_4"
    },
} %}
