<div class="page-header">
    <h1>
        Pour que l'odyssée suive son cours
    </h1>
</div>
<article>

    <div class="epigraph">
        <p>« 10 ans pour un lieu très alternatif, c'est pas mal, non ?</p>
        <p>- On pourrait peut-être s'arrêter là et tirer les conclusions de l'aventure ?</p>
        <p>- Mais au juste, c'est qui ce « on » ? »</p>
    </div>

    <p>
        C'est <strong>L'Embobineuse</strong>, c'est un collectif, un public, des artistes, une scène vivante et vraie,
        <strong>l'outil convivial d'un réseau bien vivace.</strong>
        </p>
        <p>
        <strong>Et tout ce beau monde ne veut pas fermer.</strong>
        Enfin, « on » fait le pari que « tout ce beau monde » ne veut pas refermer le livre, ne veut pas fermer le lieu.
    </p>
    <p>
        Le projet est brillant et moucheté d'écueils.
        Fier de nombreux aspects et honteux de nombreux autres,
        il se doit d'être repensé dans son ensemble et nous y travaillons d'arrache-pied.
    </p>
    <p>
        Bien entendu
        <strong>il n'est pas question de sacrifier notre direction artistique, ni notre amour du risque !</strong>
        Cette salle de spectacle qui a tant coûté et tant donné,
        il faut encore la remplir, l'enrichir, mettre en valeur ce qu'ensemble nous avons fabriqué.
    </p>
    <p>
        Voici quelques-uns des chantiers que vos dons nous permettront d'entreprendre, continuer, mener à bien:
    </p>

    <ul>
        <li>
            Enraciner notre travail dans la réalité sociale locale, en lien plus direct avec la population qui partage avec nous ce territoire de la « Belle de Mai » : développer des ateliers,  des interventions pédagogiques, organiser des repas de quartier…
        </li>
        <li>
            Approfondir notre travail de résidence et de création avec les artistes étrangers, notamment d'Afrique du Nord et du Niger, développer l'accueil de la scène africaine et les collaborations avec des artistes de notre réseau, pour ainsi favoriser l'inspiration réciproque entre cultures traditionnelles et contres-cultures contemporaines.
        </li>
        <li>
            Travailler de façon plus concertée avec le réseau des lieux de diffusion locaux, nationaux et internationaux (mise en place de tournées, réduction des coûts de défraiement, dossiers de financement européens) pour mieux soutenir les artistes indépendants.
        </li>
        <li>
            Ouvrir le lieu en journée à d'autres associations et d'autres activités :  répétitions, ateliers, cours de danse, réunions, forums, locations …
        </li>
        <li>
            Développer notre micro-label « Embob Prod » : sortir des méchants vinyles,  des bouquins trop bien, des trucs sérigraphiés hyper-beaux, mettre en ligne l'intégralité des concerts enregistrés à l'Embo depuis 10 ans…
        </li>
    </ul>

    <p>
        Sacré paysage et vaste programme !
    </p>
    <p>
    <strong>
        Le rôle de l'Embobineuse est bien celui-là:
        défricher , prendre des risques, avoir de l'audace, être exigeant,
        surprendre, suspendre, faire se rencontrer et se renouveler … sans perdre (trop) d'argent. 
    </strong>
    </p>
    <p>
        Il nous faut également poursuivre une réflexion sur une économie alternative:
        réfléchir à notre politique d'emploi, à la diversification de nos activités,
        trouver un modèle reposant sur une <strong>participation collective</strong> plus impliquée,
        une aide mutualisée assurant l'existence de notre salle favorite.
    </p>
    <p>
        Etre plus transparents, communiquer, proposer des ateliers, des rencontres,
        afin de <strong>sensibiliser le public aux réalités de la scène indépendante</strong>,
        de développer son  implication, de lui faire sentir que lorsque qu'il paye son entrée,
        fait un don ou aide à passer le balais en fin de soirée, il devient bien plus qu'un simple spectateur,
        et que <strong>l'Embobineuse est un puissant outil de création plus qu'un lieu de consommation débauchée.</strong> 
    </p>
    <p>
        L'économie d'une structure qui dure,
        fût-elle à contre-courant d'un capitalisme qui ne prône que le rentable, se doit malgré tout d'être viable.
        Le nerf de la guerre est une donnée indiscutable même pour résister en musique.
    </p>
    <p>
        <strong>C'est tout un rapport à l'argent qui doit être repensé.</strong>
        Conditionnés dès l'enfance par les fantasmes d'un capitalisme arrogant
        qui planque son grisbi sous l'off-shore du tapis,
        l'argent nous brûle les mains, ou nous fait honte c'est selon.
        Quelque part, au fond de nos caves d'inconscient peut-être que...
        nous n'en voulons pas... ni pour nous, ni pour les artistes …
        et nous ne voulons peut-être pas qu'on nous en donne…
    </p>
    <p>
        <strong>Finalement, le résultat est assez déséquilibré.</strong>
        Et si le flouze ce n'était ni bon ni mal ? Mais juste ce que nous en faisons ?
        Et si le blé c'était juste un symbole des services que nous nous rendons mutuellement,
        du vivre ensemble, et pas un petit trésor précieux qui dort et qui ronfle, car il est censé tourner le pognon …
        l'argent que quelqu'un donne à quelqu'un d'autre pour un service que celui-ci lui rend,
        celui-ci le donne à quelqu'un d'autre, et celui-ci le donne à celui-là,
        et ainsi de suite jusqu'à ce que le gentil pognon revienne dans la poche
        du premier qui a donné et qui du coup relance le tourniquet, c'est ça le liquide,
        un flux, une circulation, une danse, une énergie comme le sang pour que chacun,
        chaque organe d'un organisme, rende finalement service à tout le monde ...
        Gééééénial !
    </p>
    <p>
        Mais là il y a quelque chose qui bloque (et pas que chez nous on dirait),
        ça ne tourne pas rond, l'argent sort et ne rentre pas …
        (amm il doit exister des endroits où les radis rentrent et ne sortent pas,
        il faudra leur dire à ces endroits-là de faire un petit peu les choses à l'envers)
        … et pourtant, on le jure, on fait notre boulot, on est utile, on rend service,
        l'Embobineuse est un lieu important dans la vie de plein de gens,
        et des lieux comme l'Embob il y en très peu, en France, en Europe, il y en a très peu dans le monde ...
        <strong>et si les lieux comme l'Embob disparaissent, où allez vous découvrir la musique du futur qui n'existe pas encore ?</strong> 
    </p>
    <p>
        Si les lieux comme l'Embobineuse disparaissent,
        c'est <strong>une façon certes empirique mais bigrement humaine de faire de la culture qui risque de disparaître avec.</strong>
        A bon entendeur … <b>Bisous</b> !
    </p>
</article>

{% include 'pager.html.twig' with {
    'prev': {
        'url': page('historia/03-naufrage'),
        'title': "III. Economie d'un naufrage"
    },
    'next': {
        'url': page('decennium/posters'),
        'title': "10 ans d'Affiches"
    },
} %}
