{% extends "errors/base.html.twig" %}
{% block error %}
    Page not found!
{% endblock %}

{% block message %}
    <a class="btn btn-default" href="{{ page('lapelle') }}">
        Back to homepage
    </a>
{% endblock %}
