html, body {
    height: 100%;
}
body {
    position: relative;
    margin-top: 80px;
    font-size: 18px;
    color: #ccc;
    text-align: justify;
}

@media (max-width: 768px) {
    body {
        font-size: 16px;
    }
}

/* ==================== NAV =================== */
.navbar-default .navbar-nav > li > a {
    color: #bbb;
}
.lang-sm {
    width: 14px;
    height: 11px;
    display: inline-block;
    background: url('../../img/flags.png') no-repeat;
}
.lang-sm[lang="fr"] {
    background-position: 0 0;
}
.lang-sm[lang="en"] {
    background-position: 0 -11px;
}
.lang-sm[lang="ja"] {
    background-position: 0 -23px;
}

/* ==================== HEADER =================== */

#header .jumbotron,
#footer
{
    background: #000 url('../../img/texture.png');
}

#header .jumbotron {
    border-radius: 16px;
}

#header .slogan-container {
    padding-top: 1.5em;
}

#header .campaign-stats {
    margin-top: 1em;
}

/* ==================== FOOTER =================== */

#footer {
    margin-top: 4em;
    border-top: 1px solid #282828;
    padding-top: 2em;
    font-size: 14px;
}

/* ==================== TYPOGRAPHY =================== */

h1, h2, h3, h4, h5, h6 {
    margin: 1em 0 0.5em 0;
    text-align: left;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.5em;
}
h5, h6 {
    font-size: 1em;
}
p {
    margin-bottom: 1em;
}
strong {
    color: #ddd;
}

.epigraph, .exergue {
    border-left: 5px solid #282828;
    font-style: italic;
    margin: 2em 0;
    padding-left: 1em;
}


/* ==================== COMPONENTS ==================== */

.page-header {
    margin: 0 0 2em;
}
.page-header h1 {
    margin: 0;
}

.image-grid {
    text-align: center;
    margin: 3em auto;
}
.image-grid > * {
    display: inline-block;
    margin: 8px;
}

img.pull-right {
    margin-left: 1.5em;
}
img.pull-left {
    margin-right: 1.5em;
}

/**
 * Bootstrap pager override
 **/
.pager li > a,
.pager li > span {
    border-radius: 4px;
}

/**
 * =============== Buttons ===============
 **/

/* ----- DONATE ----- */

.btn-donate {
    font-weight: bold;
}
.donate-callout {
    text-align: center;
    margin: 2em 0;
}
.donate-callout .btn-donate {
    width: 50%;
}
.jumbotron .donate-callout {
    margin: 2em 0 0 0;
}
#header .btn-donate {
    width: 100%;
}

/* ----- SOCIAL ----- */

.btn-social {
    color: #fff;
    font-weight: bold;
}
.btn-facebook {
    background-color: #3B5998;
}
.btn-facebook:hover {
    background-color: #2d4373;
}
.btn-google-plus {
    background-color: #DD4B39;
}
.btn-google-plus:hover {
    background-color: #c23321;
}
.btn-twitter {
    background-color: #55ACEE;
}
.btn-twitter:hover {
    background-color: #2795e9;
}
.btn-linkedin {
    background-color: #007BB6;
}
.btn-linkedin:hover {
    background-color: #005983;
}

/**
 * ==================== EDITOS ====================
 **/

.edito .author {
    text-align: right;
    font-weight: bold;
    text-transform: uppercase;
}

/**
 * TOC Bootstrap panel override
 **/
.panel-default > .panel-heading,
a.list-group-item {
    color: #ccc;
}

/**
 * Image Wall plugin
 **/
.image-wall {
    position: auto;
    text-align: justify;
}
.image-wall img {
    display: inline-block;
    margin: 8px;
    vertical-align: middle;
}
.js .image-wall img {
    opacity: 0;
}
.js .image-wall-container {
    position: relative;
}
.js .image-wall-container img {
    display: block;
    position: absolute;
    margin: 0;
    opacity: 1;
    transition: all 0.2s ease-out;
}

.comment-list {
    background: #060606;
    color: #ccc;
}
.comment {
    padding: 0.618em;
    border-bottom: 1px solid #333;
}
.comment__donation,
.comment__supporter {
    color: #fff;
    font-weight: bold;
}
.comment__donation {
    float: right;
}
.comment__content {
    font-style: italic;
}


/**
 * =============== Fancybox ===============
 **/
.fancybox-skin {
    background-color: #151515;
}
/**
 * Fixes GH issue #986
 **/
.fancybox-lock {
    overflow: visible !important;
}
