{% from 'macros.html.twig' import fancythumbs %}

<div class="page-header">
    <h1>
        Nerf de la guerre pour résistances musicales
        <br>
        <small class="text-danger">
            La menace de fermeture est plus forte que jamais !
        </small>
    </h1>
</div>
<div class="well well-lg">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe width="853" height="480" src="//www.youtube.com/embed/BJ3VbmaPQQI"
            frameborder="0" allowfullscreen
            class="embed-responsive-item center-block">
        </iframe>
    </div>
</div>

<article>
    <img src="{{ asset('img/pics/salle/salle-01.jpg') }}" class="img-responsive pull-right"
        alt="L'Embobineuse vue du dedans" style="max-width: 400px; width: 100%;"/>
    <p>
        <strong>Depuis 2004, en plein cœur de Marseille, l'Embobineuse accueille avec patate des artistes qui ont la frite.</strong>
        La frite de toute la France, de toute l'Europe, la frite de toute la planète.
        Et la spectaculaire salle de sport-spectacle de fêter sa dixième saison d'ouverture au public:
        10 ans à tenter de faire les choses à notre manière mais comme il faut,
        à jongler entre une force de proposition artistique sans compromis et une réalité économique compromettante.

    </p>
    <p>
        <strong>Dix ans de lutte et de survie :</strong>
        l'Embobineuse, c'est 800 soirées tous azimuts, de concerts et de performances inclassables et atypiques, redoutables voire refoulables.
        Une décennie d'invasions sonores et visuelles, de mise en réseau de musiciens, de graphistes et de poètes hors-saisons,
        dans un carrefour des éthiques où se culbutent convivialité, esthétique, antipsychiatrie et amour sans limite de l'expérimentation.
    </p>
    <p>
        <strong>Toutefois, et bien qu'habilement auto-proclamée « Théâtre de fortune », l'Embobineuse c'est pas du luxe.</strong>
        Si aujourd'hui c'est annuellement 180 000 € de budget autofinancé à presque 65%,
        5 salariés, 150 cachets d'intermittence, 80 contrats de co-réalisation,
        une quarantaine de bénévoles et 4 000 adhérents, c'est aussi quelques casseroles.
    </p>
    <a class="fancybox" href="http://vimeo.com/30441686">
        <img src="{{ asset('img/pics/perf/beton.jpg') }}" class="img-responsive pull-left"
            alt="L'Embobineuse vue du dedans" style="max-width: 300px; width: 100%;"/>
    </a>
    <p>
        <strong class="text-danger">Car dix ans, c'est dix ans de plus et c'est aussi 40 000 € de moins.</strong>
        Dix ans de soirées presque pas déficitaires qui creusent insidieusement la voie d'eau de la dette,
        bombe à retardement prête à faire couler le vaisseau.
        Désormais, plus que sur des braises, c'est en plein bûcher que l'Embobineuse navigue,
        et ce fichu bruit de casseroles pourrait bel et bien sonner le glas.
    </p>
    <p>
        <strong>C'est donc avec un catastrophisme légitime que nous pouvons déclarer qu'à perdurer ainsi nous perdrons tout:</strong>
        les créances et leurs échéances menacent à court terme la pérennité et l'existence de notre vertueux vortex,
        mettant aussi en danger certains membres de l'équipée,
        engagés et mouillés financièrement jusqu'à la peau sur les os.
    </p>
    <p>
        <strong class="text-danger">La possibilité de ne pas rouvrir en septembre 2015 pointe son nez,</strong>
        et l'horizon s'assombrit même au point de ne pas forcément pouvoir finir la saison,
        voire de fermer les portes dès le printemps.
        Et c'est le cul croûteux et acculés que nous vous annonçons qu'il y a le feu au lac, et que
        tout bien réfléchi, heu... en fait... 10 ans, c'est un peu jeune pour mourir, non ?
    </p>
    <p>
        Voilà pourquoi nous faisons appel à votre contribution !
    </p>
    <p>
        <strong>
            Aidez-nous à repartir pour dix hivers et cent printemps,
            dans une Embobineuse qui demeurerait une trouée dans le réel,
            sans pour autant creuser sa tombe !
        </strong>
    </p>
</article>

<div class="donate-callout">
    <a class="btn btn-primary btn-lg btn-donate"
        href="http://www.helloasso.com/associations/l-embobineuse/collectes/embobidon/faire-un-don" target="_blank">
        Faire un don !
    </a>
</div>

<div class="well well-lg image-grid">

{{ fancythumbs([
    "concerts/concert_01",
    "concerts/concert_04",
    "concerts/concert_05",
    "concerts/concert_03",
    "concerts/concert_02",
    "posters/2008-12_art-et-terrorisme-4",
    "perf/masqueride-embob-13",
    "salle/salle-01"
]) }}

</div>

<article class="row">

    <div class="col-md-8 col-md-10">
        <p>
            « <strong>L'Embobineuse est une initiative collective</strong> portée par une poignée de passionnés,
            financée à cœur perdu par ses fondateurs et membres actifs,
            un lieu et une équipe que toute personne se sentant proche de nos fins et de nos moyens peut intégrer.
        </p>
        <p>
            Sa naissance et sa vie ont dépendu jusqu'à présent d'une équipe et d'un réseau d'artistes
            qui ont sué sang et eau pour faire exister ce lieu.
            Et <strong>sa survie ou sa mort dépendent désormais de toi</strong>, public chéri,
            car l'art que nous défendons est bien trop bizarrement beau pour être reconnu d'utilité publique par les institutions,
            sans parler de sa rentabilité en tant que marchandise.
        </p>
        <p>
            <strong>
                Si tu veux une culture qui n’émerge pas uniquement des supermarchés de la marchandise
                et des institutions de l’État, alors il faut mouiller ta chemise !
            </strong>
        </p>
        <p>
            Parce que l'Embobineuse est une initiative généreuse et précaire.
        </p>
        <p>
            Parce que chaque année depuis dix ans nous nous efforçons contre vents et marées de survivre à l'année écoulée.
        </p>
        <p>
            Parce que cette précarité de tous les instants sape le moral et la santé.
        </p>
        <p>
            <strong>
                Parce qu'il faut une sacrée chance, et une foi de cheval, pour qu'une  structure puisse germer et prendre racine dans de telles conditions.
            </strong>
        </p>
        <p>
            Et enfin parce que ce que nous faisons nous le faisons pour tous :
        </p>
        <p>
            <strong class="text-danger">Nous t'appelons à l'aide</strong>,
            et demandons à tous ceux qui comme toi estiment l'existence de lieux d'expression
            tels que l'Embobineuse nécessaire, de faire un geste pour nous aider à redresser la barre.
        </p>
        <p>
            Merci. »
        </p>
        <p class="text-right">
            Les Embobinés, 23 Janvier 2015.
        </p>
    </div>
    <div class="col-md-4 hidden-sm hidden-xs">
        <img src="{{ asset('img/pics/posters/tetedemort.jpg') }}" class="img-responsive">
    </div>
</article>

{% include 'pager.html.twig' with {
    'next': {
        'url': page('historia/01-bateau-cool'),
        'title': "Història Bobinüs"
    },
} %}
